{% extends "seekers_home/base.html" %}
{% block content %}
<h2>List of Room Seekers to be displayed below</h2>
    {% for seeker in room_seeker %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ seeker.posted_by.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ seeker.posted_by }}</a>
              <small class="text-muted">{{ seeker.date_posted|date:"F d, Y" }}</small>
            </div>
            <p>Place: {{seeker.place }}</p>
            <p>Profession: {{seeker.profession }}</p>
            <p>Budget: {{seeker.budget }} €</p>
            <p class="article-content"> Description: {{ seeker.description}}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}